/* 聊天容器 */
.chatContainer {
    flex: 1; /* 宽度占满剩余空间 */
    // min-height: 100%;
    height: 100%;
    color: var(--text-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* 聊天内容区容器 */
.chatContent {
    width: 100%;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 自动滚动 */
    scrollbar-width: none; /* 隐藏滚动条 */
}

.chatContentEmpty {
    text-align: center;
    color: var(--text-primary-color);
    margin-top: 10rem;
}

.chatContentLoading {
    text-align: center;
    color: var(--text-primary-color);
    margin-top: 10rem;
}

/* 对话输入 */
.chatInputContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--bg-surface-color);
    border-radius: 20px;
    overflow: hidden;
    
    .chatTextareaContainer {
        flex: 1;
        border: 1px solid black;
        border: none;
        resize: none;
        
        .chatTextarea {
            width: 100%;
            height: 100%;
            background-color: var(--bg-surface-color);
            color: var(--text-primary-color);
            border: none;
            border-radius: 5px;
            resize: none;
            padding: 10px;
            outline: none;
            font-size: 1.1rem;
            font-weight: 800;
            &::placeholder {
                color: var(--text-primary-color);
            }
        }
    }
    
    /* 输入框底部 */
    .chatInputFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        
        &Left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding: 0 8px;
            font-size: .9rem;
            
            &Select {
                width: auto;
                height: 100%;
                background-color: var(--bg-surface-color);
                border: none;
                border-radius: 5px;
                outline: none;
                font-size: .9rem;
                
                &Option {
                    font-size: .9rem;
                    background-color: var(--bg-surface-color);
                    color: var(--text-primary-color);
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    outline: none;
                    font-size: .9rem;
                }
            }
        }
    }
    
    .chatInputSend {
        height: 100%;
        width: 80px;
        background-color: var(--primary-color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:disabled {
            color: var(--text-primary-color);
            cursor: not-allowed;
        }
    }
}

/* 消息容器 */
.aiMessageContainer {
   display: flex;
   width: 100%;
   justify-content: flex-start;
   padding: 10px 10px;
}

.userMessageContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 10px 10px;
}

.userMessageContent {
    max-width: 50%;
    word-break: break-all;
    background-color: var(--bg-surface-color);
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
}

.aiMessageContent {
    max-width: 50%;
    word-break: break-all;
    background-color: var(--bg-surface-color);
    padding: 10px;
    margin-left: 10px;
    text-align: left; 
}


.chatInputFooterHint {
    font-size: .9rem;
    color: var(--text-primary-color);
    margin: 8px 0;
}