/* html根元素全局样式 */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* 字体 */
  font-synthesis: none; /* 禁用字体合成 */
  text-rendering: optimizeLegibility; /* 优化文本渲染 */
  -webkit-font-smoothing: antialiased; /* webkit抗锯齿 */
  -moz-osx-font-smoothing: grayscale; /* firefox抗锯齿 */

  /* 主题色 */
  --primary-color: #007bff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* body默认8px外边距 */
  margin: 0; 
  padding: 0;
}

/* 根body的样式 */
#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  --bg-primary-color: rgba(0, 0, 0, 0.1);
  --bg-nav-color: #f2eeee;
  --text-primary-color: rgb(21, 21, 21); 
  --bg-surface-color: white;
}

/* 读取用户操作系统设置 */
@media (prefers-color-scheme: dark) {
  #root {
    --text-primary-color: white; 
    --bg-primary-color: #0d1117;
    --bg-nav-color: #161b22;
    --bg-surface-color: #161b22;
  }
  a:hover {
    color: #747bff;
  }
}
