/* html根元素全局样式 */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(21, 21, 21); 
  background-color: rgba(0, 0, 0, 0.1);

  /* 字体 */
  font-synthesis: none; /* 禁用字体合成 */
  text-rendering: optimizeLegibility; /* 优化文本渲染 */
  -webkit-font-smoothing: antialiased; /* webkit抗锯齿 */
  -moz-osx-font-smoothing: grayscale; /* firefox抗锯齿 */

  /* 主题色 */
  --primary-color: #007bff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* body默认8px外边距 */
  margin: 0; 
  padding: 0;
}

/* 读取用户操作系统设置 */
@media (prefers-color-scheme: dark) {
  :root {
    color: rgb(21, 21, 21);
    background-color: rgba(227, 216, 216, 0.947);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
